@using MvcTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kargolar</h2>
<br />
<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod
    .Get))
{
    <p>
        Kargo Takip Numarası:@Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-bordered" style="margin-top:20px;">
    <tr>

        <th>PERSONEL</th>
        <th>ALICI</th>
        <th>TARİH</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personel</td>
            <td>@k.Alici</td>
            <td>@k.Tarih</td>
            <td><a href="/Departman/DepartmanDetay/@k.KargoDetayİd" class="btn btn-default" style="background-color:lightcoral; color:white"> Detaylar</a></td>

        </tr>
    }
</table>
<a href="/Departman/DepartmanEkle" class="btn btn-info">Yeni Kargo Grirşi</a>



