@model MvcTicariOtomasyon.Models.Siniflar.KargoDetay
@{
    ViewBag.Title = "YeniKargo";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Yeni Kargo Bilgi Sayfası</h2>
<br />

<form class="form-group" method="post">

    <div class="form-group">
        <label>Takip Kodu:</label>
        <input  type="text" value="@ViewBag.takipkod" name="TakipKodu" class="form-control"readonly />
    </div>
    <div class="form-group">
        <label>Personel :</label>
        @Html.TextBoxFor(x => x.Personel, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Alıcı:</label>
        @Html.TextBoxFor(x => x.Alici, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Tarih:</label>
        <input class="form-control" type="date" name="Tarih" />
    </div>
    <div class="form-group">
        <label>Açıklama:</label>
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    </div>

    <div class="form-row">
        <button class="btn btn-info"><i class="fa fa-plus"></i> Ekle</button>

    </div>
</form>