
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kaydı</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="cariAd" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="cariSoyad" Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="cariSehir" Placeholder="Şehir" required="" />
                <input type="email" class="email" name="cariMail" Placeholder="Email" required="" />
                <input type="password" class="password" name="sifre" Placeholder="Password" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum <a href="#">&amp; Kabul Ediyorum</a></label>
                </div>
                <input type="submit" value="Kaydol">
            </form>
        </div>
    </div>
</div>
