@using MvcTicariOtomasyon.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>DEPARTMAN ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Departmanid</td>
            <td>@k.DepartmaAd</td>
            <td><a href="/Departma/DepartmaSil/@k.Departmanid" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departma/DepartmaGetir/@k.Departmanid" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departma/DepartmaDetay/@k.Departmanid" class="btn btn-default" style="background-color:lightcoral; color:white"> Detaylar</a></td>
          
        </tr>
    }
</table>
<a href="/Departma/DepartmanEkle" class="btn btn-info">Departman Ekle</a>


